body, h1, h2, p {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

nav > ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

nav > ul > li {
  font-weight: bold;
  font-size: 20px;
}

nav > ul > li > a {
  text-decoration: none;
  color: #ADD8E6;
}

#welcome-section {
  text-align: center;
  height: auto;
  padding: 8% 0;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#welcome-section > h1 {
  color: #ADD8E6;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 10px;
}

#welcome-section > p {
  color: #FC6A03;
  font-size: 18px;
  margin-bottom: 10px;
}

#welcome-section > img {
  max-width: 450px;
  height: 380px;
}

#about {
  padding: 30px 25%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about > h1 {
  text-align: center;
  color: #ADD8E6;
  font-size: 28px;
}

#about > p {
  text-align: center;
  color: #000;
  padding: 10px 0;
  font-size: 16px;
}

#projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px 0 20px 0;
}

#projects > h1 {
  text-align: center;
  color: #ADD8E6;
  font-weight: bold;
  font-size: 28px;
}

#projects > .project-tile {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  width: 50%;
}

.project-tile > h2 {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
}

.project-tile > p {
  text-align: center;
  font-size: 16px;
  padding-bottom: 10px;
}

.project-tile img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.1);
}

#contact {
  padding-top: 30px;
  padding-bottom: 10px;
}

#contact > h1 {
  color: #ADD8E6;
  text-align: center;
}

#social-icons {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
  padding: 20px 0 10px 0;
}

#social-icons > a {
  color: #0000D0;
  text-decoration: none;
} 
